# Python bytecode
__pycache__/
*.pyc

# Virtual Environment (Added)
venv/
ENV/
env/

# Local environment/Docker
.env
.dockerignore

# Datasets and Large Files (Crucial for GitHub)
*.zip
*.tar.gz
*.journal
*.journal*
data/

# ML Models
models/

# Project temporary files
*.json

# IDEs
.vscode/
.idea/